* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

input {
  width: 450px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 6px;
  height: 50px;
}

input::placeholder {
  padding-left: 10px;
  font-size: 16px;
}

.grid {
  box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: grid;
  max-width: 780px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 180px;
  grid-gap: 20px;
  padding-bottom: 70px;
}

.grid img {
  max-width: 180px;
  height: 180px;
  margin: 0 auto;
  cursor: pointer;
  filter: grayscale(60%);
}

.grid img:hover {
  filter: none;
  transition: 0.3s ease-out;
  transform: scale(1.1);
}
