* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  width: 450px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 6px;
  height: 50px;
}

input::placeholder {
  padding-left: 10px;
  font-size: 16px;
}

.grid {
  box-shadow: 0 0.1em 0 0 rgba(0, 0, 0, 0.1);
  margin: 45px auto;
  display: grid;
  max-width: 750px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 20px;
}

.grid img {
  max-width: 180px;
  height: 180px;
}
